:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #ffffff;
    --text-color: #333333;
    --accent-color: #17a2b8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Open Sans', sans-serif;  */
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace, Open Sans, sans-serif;
    /* font-feature-settings: normal;
    font-variation-settings: normal; */
    /* font-size: 1em; */
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
}


/* Header Styles */
#main-header {
    background-color: var(--background-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    /* box-shadow: 3.9px 7.8px 7.8px #cccccc; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

#main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    transition: padding 0.3s ease;
}

#main-header.shrink .container {
    padding: 1px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* .logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
} */

#logo {
    width: 40px;
    clip-path: circle(50%);
    object-fit: cover;
}

.nav-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

#theme-toggle,
#language-select {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: var(--text-color);
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 3px;
    transition: all 0.3s ease;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 10px;
}

.hamburger span:nth-child(3) {
    top: 20px;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}


/* Banner Styles */
#banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.banner-bg {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background-image: url('/asset/img-banner/banner.webp');
    background-size: cover;
    background-position: center;
    /* opacity: 0.1; */
    z-index: -1;
    object-fit: cover;
}

#banner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #ffffff;
}

#banner .highlight {
    color: var(--primary-color);
}

#dynamic-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;

}


/* Section Styles */
section {
    /* padding: 80px 0; */
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.btn {
    /* display: inline-block; */
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    display: block;
    margin: 20px auto;
    text-align: center;
    max-width: 200px;
}

.btn:hover {
    background-color: darken(var(--primary-color), 10%);
    color: #007bff;
}

/* Center buttons cv y formulario */
/* .btn-center {
    display: block;
    margin: 20px auto;
    text-align: center;
    max-width: 200px;
} */
/* ¡Formulario enviado con éxito! */
#success-message {
    display: inline-block;
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* ¡Formulario enviado con éxito! */

/* Skills Styles */
.skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-category {
    flex-basis: 50%;
}

.skills-list {
    list-style: none;
}

.skills-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.skills-list i {
    margin-right: 10px;
    font-size: 1.2rem;
    color: var(--primary-color);
}

/* Projects Styles */

#proyectos {
    margin-top: 100px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.project-card {
    background-color: #f8f9fa;
    color: #000000;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
    /* box-shadow: 3.9px 7.8px 7.8px #cccccc; */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card .content {
    padding: 20px;
}

.project-card h3 {
    margin-bottom: 10px;
}

/* Contact Form Styles */
#contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    height: 150px;
}

/* Footer Styles */
footer {
    background-color: #f8f9fa;
    /* padding: 20px 0; */
    text-align: center;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
}

/* .social-links {
    margin-bottom: 10px;
} */

.social-links a {
    color: var(--secondary-color);
    font-size: 1.5rem;
    /* margin: 0 10px; */
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--primary-color);
}

.derechos {
    color: #000000;
}


/* Experience page styles */
#experiencia {
    padding-top: 100px;
}

.experiencia-item {
    background-color: #f8f9fa;
    color: #000000;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
    /* box-shadow: 3.9px 7.8px 7.8px #cccccc; */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

}


/* .experiencia-item:hover {
    transform: translateY(-5px);
    box-shadow: 3.9px 7.8px 7.8px #1abc9c6e;
} */


.experiencia-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.experiencia-item h3 {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.experiencia-item .periodo {
    font-style: italic;
    margin-bottom: 10px;
}

/* experiencia y proyectos subtitulo */
.title-subtitulos {
    margin-bottom: 20px;
}

/* fin experiencia y proyectos subtitulo */

#pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

#pagination a:hover {
    background-color: darken(var(--primary-color), 10%);
}

#pagination a.active {
    background-color: var(--secondary-color);
}

/* Blog page styles */
#blog {
    padding-top: 100px;
}

.blog-post {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.blog-post:hover {
    transform: translateY(-5px);
}

.blog-post h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.blog-post h2 a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.blog-post h2 a:hover {
    color: var(--primary-color);
}

.blog-post .fecha {
    font-style: italic;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.blog-post .btn {
    display: inline-block;
    margin-top: 10px;
}


/* Dashboard Styles */
#dashboard {
    padding-top: 100px;
}

.dashboard-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dashboard-menu .btn {
    margin: 0 10px;
}

.dashboard-list {
    list-style: none;
    padding: 0;
}

.dashboard-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.btn-small {
    padding: 5px 10px;
    font-size: 0.8rem;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}


/* Responsive Styles */
@media (max-width: 768px) {

    /* .nav-center {
        display: none;
    } */

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--background-color);
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }

    .nav-buttons {
        order: -1;
        margin-right: auto;
    }

    .nav-right {
        justify-content: flex-end;
        /* width: 100%; */
    }

    #banner h1 {
        font-size: 2rem;
    }

    /* pagina inicio yProjects Styles */
    .projects-grid {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    /* Skills Styles */
    .skills-container {
        display: flex;
        flex-direction: column;
    }

    .skills-list {
        display: inline-block;
        align-items: center;
        flex-direction: column;
    }



    /* Dark Theme */
    body.dark-theme {
        --background-color: #333333;
        --text-color: #ffffff;

        body.dark-theme #main-header {
            background-color: #2c2c2c;
        }

        body.dark-theme .project-card {
            background-color: #444444;
        }

        body.dark-theme footer {
            background-color: #2c2c2c;
        }

        /* Estilos para el modo claro modo sistema*/
        :root {
            --background-color: #ffffff;
            --text-color: #333333;
            --primary-color: #007bff;
        }

        /* Estilos para el modo oscuro */
        @media (prefers-color-scheme: dark) {
            :root {
                --background-color: #333333;
                --text-color: #ffffff;
                --primary-color: #007bff;
                /* Puedes cambiar este color si lo deseas */
            }
        }

    }
}