* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-padding-top: 60px;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    display: flex;
    /* min-height: 100vh;
    grid-template-rows: auto 1fr auto; 
    /* background-color: #32322C; */
}

/* toggle menu icono */

.toggle-menu {
    /* width: 40px; */
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    filter: invert(1);
    display: none;
    z-index: 1;
}

.toggle-menu img {
    max-width: 100%;
}


.main-menu {
    list-style: none;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color: #0e293c;
    height: 70px;
    justify-content: flex-end;
    width: 100%;
    /* font-size: 1rem;   */
    /* transition: transform 0.3s; */
    /* transform: translateY(-100%); */
    /* transform: translateY(0) */
    /* position:fixed; */

}

#main-nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.main-menu__item {
    padding: 1em;

}

.main-menu__link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.main-menu__link:active {
    background-color: #1abc9c;
    padding: 1rem;
    border-radius: 10px;
}

/* fin toggle menu icono */


/* section header menu enlazado con toggle menu */
#logo {
    position: absolute;
    width: 50px;
    clip-path: circle(50%);
    object-fit: cover;
    margin: 10px;
    left: 20px;
}

/* section header menu enlazado con toggle menu */

/* carruel */
#container-carrusel {
    margin-top: 70px;
}

.w-100 {
    height: 32rem;

}

img {
    object-fit: cover;
    max-width: 100%;
}

/* fin carruel */

/* section acerca de mi */
.textos-sesiones {
    text-align: center;
    margin: 10px auto;
    font-size: 2.25rem;
    font-weight: bold;
    /* box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38); */

}

#container-presentacion {
    background-color: #1abc9c;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 2rem;
    font-size: 1.25rem;
}

#container-historia {
    font-size: 2rem;
}

.title-strong {
    background-color: #0e293cb9;
    border-radius: 10px;
    padding: 12px;

}

.parrafo-historia {
    font-weight: 500;
    padding-top: 20px;
}


#cv a {
    text-decoration: none;
}

.mt-4 .btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
}

.mt-4 .btn-xl:hover {
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
}

/* fin section acerca de mi */


/* section portafolio */
#container-portafolio {
    /* background-color: #0e293c; */
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
}

.card:hover {
    box-shadow: 3.9px 7.8px 7.8px #1abc9c6e;
    ;
}

.btn {
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
}

/* .cards {
    min-width: 200px;
    margin: 10px;
    background-color: #c0f0fa;
    border-radius: 10px;
    transform: 0.3s;
    border-radius: 10px 10px 10px 10px;  
}

.cards:hover {
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
}


.card-img {
    width: 200px;
    height: 200px;
    background-color: #0e293c;
}

.card-img img {
    max-width: 100%;

    object-fit: cover;
}

.imgpos {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card-body h2 {
    text-align: center;
}

.card-body p {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.card-footer a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    background-color: #031523;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #383838;
    transform: 0.2s;
}

.card-footer a:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid black;
} */

/* fin section portafolio */

/* inicio footer*/
#footer-container {
    background-color: #0e293c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    color: #fff;
}

.ico {
    list-style: none;
    display: flex;
    gap: 10px;
}

.ico li a {
    text-decoration: none;
}

#container-derechos {
    background-color: #32322C;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    bottom: 0px;
}

/* fin inicio footer*/


@media only screen and (max-width: 1024px) {
    /*  section de articulos  */
    /* #card_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        gap: 10px;
    } */

    .card:hover {
        box-shadow: 2px 3px 3px #1abc9c6e;
    }

    /*  FIN section de articulos  */
}


@media only screen and (min-width: 768px) {
    /* .main-menu{
        flex-direction:row;
        justify-content: flex-end;
        /* height: 70px; *
        transform: translateY(0);
    }
    .toggle-menu {
        display: none;

    } */
}


@media only screen and (max-width: 768px) {

    /* menu toogle icono*/
    .main-menu {
        flex-direction: column;
        transition: transform 0.3s;
        transform: translateY(-100%);
        background-color: #0e293c;
    }

    .main-menu--show {
        transform: translateY(0);
        height: auto;
        padding: 0px;


    }

    /* menu oculto con checbok */
    /* .toogle-menu__checkbox:checked+.main-menu {
        transform: translateY(0);
    }

    .toogle-menu__checkbox {
        display: none;
    } */

    /* fin menu oculto con checbok */

    .toggle-menu {
        display: block;
    }

    /* Toggle menu x */
    .toggle-menu .hamburger-icon {
        width: 40px;
        height: 40px;
        background: url('./asset/bars-solid.svg') no-repeat;
        background-size:contain;
        /* background-position: center; */
        filter: drop-shadow(1px 2px 1px (0, 0, 0, .1));
    }

    .toggle-menu.active .hamburger-icon {
        background: url('./asset/xmark-solid.svg') no-repeat;
        background-size: contain;
        /* background-position: center; */
    }

    /* fin  Toggle menu x */

    #main-nav {
        background-color: #0e293c;
        height: 70px;
        z-index: 1;

    }

    /* fin menu toogle icono */


    /* carruel */
    .w-100 {
        height: 21rem;
    }

    /* carruel */



    /* section formulario contacto */
    #container-portafolio {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 10px;
    }

    /* fin section formulario contacto */

    /* inicio footer*/
    #footer-container {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        text-align: center;
        gap: 12px;

    }

    /* fin inicio footer*/
}

@media only screen and (max-width: 320px) {

    /* carruel */
    .w-100 {
        height: 20rem;

    }

    /*fin carruel */

    /* section acerca de mi */
    .title-strong {
        padding: 0px;
        font-size: 19px;
    }

    /* fin section acerca de mi */

    /* section formulario contacto */
    #container-portafolio {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    /* fin section formulario contacto */


}