* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-padding-top: 60px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    /* min-height: 100vh;
    grid-template-rows: auto 1fr auto; */
    /* background-color: #32322C; */
}

/* toggle menu icono */
.toggle-menu {
    width: 40px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    filter: invert(1);
    display: none;
    z-index: 1;
}

.toggle-menu img {
    max-width: 100%;
}


.main-menu {
    list-style: none;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color: #0e293c;
    min-height: 70px;
    justify-content: flex-end;


    /* transition: transform 0.3s; */
    /* transform: translateY(-100%); */
    /* transform: translateY(0) */
}

#main-nav {
    position: fixed;
    width: 100%;
}

.main-menu__item {
    padding: 1em;
}

.main-menu__link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

/* fin toggle menu icono */

/* section header menu enlazado con toggle menu */
#logo {
    width: 50px;
    position: absolute;
    left: 20px;
    top: 10px;
}

/* section header menu enlazado con toggle menu */

/* section banner y saludo */
#banner-container {
    margin-top: 70px;
    background-color: red;
}

/* fin section banner y saludo */

/* inicio footer*/
#footer-container {
    background-color: #0e293c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    color: #fff;
}

.footer-informacion {
    display: grid;
    row-gap: 10px;

}

.ico {
    list-style: none;
    display: flex;
    gap: 10px;
}

.ico li a {
    text-decoration: none;
}

#container-derechos {
    background-color: #32322C;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    bottom: 0px;
}

/* fin inicio footer*/


@media only screen and (max-width: 1024px) {}


@media only screen and (min-width: 768px) {
    /* .main-menu{
        flex-direction:row;
        justify-content: flex-end;
        /* height: 70px; *
        transform: translateY(0);
    }
    .toggle-menu {
        display: none;

    } */
}


@media only screen and (max-width: 768px) {


    /* menu toogle icono*/
    .main-menu {
        flex-direction: column;
        /* background-color: #0094fd; */
        transition: transform 0.3s;
        transform: translateY(-100%);
    }

    .main-menu--show {
        transform: translateY(0);
    }

    .toggle-menu {
        display: block;
    }

    #main-nav {
        background-color: #0e293c;
        height: 70px;
    }

    /* fin menu toogle icono */

    /* section header menu enlazado con toggle menu */
    #logo {
        width: 40px;
        top: 15px;
    }

    /* fin section header menu enlazado con toggle menu*/

    /* inicio footer*/
    #footer-container {
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: center;
        text-align: center;
        gap: 12px;
    }

    /* fin inicio footer*/
}

@media only screen and (max-width: 320px) {
    
}